.back-btn-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 10px 0;
}

.back-btn {
  transform: rotate(180deg);
  margin: 5px 0;
}

.like-comment-button {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.like-comment-button div {
  width: 20%;
}

.like-comment-button div button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.like-comment-button div button p {
  margin-bottom: 0;
  margin-left: 10px;
}

.comment-icon,
.like-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
