@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* global css */
/* .row {} */

/* .row{
    margin: auto 0 !important;
    padding: auto 0 !important;
    
}
.row>*{
    padding-left: 0;
    padding-right: 0;
} */
.container {
  margin: 0% !important;
  padding: 0% !important;
  /* max-width: 100% !important; */
}
.navContainer {
  position: sticky;
  min-height: 100vh;
  top: 0;
  width: 100%;
}

.left-col {
  margin-right: 20px;
}

.mainLogo {
  width: 14vw;
  margin: 10px;
}
.navIconLinkContainer {
  margin: 0 20px;
  margin-bottom: 0%;
  padding: 3vh;
}

.MainNavLink {
  color: black !important;
  font-size: 3vh;
  padding: 0rem 0vh !important;
  text-align: left;
  text-decoration: none !important;
}

.MainNavLink:active,
.MainNavLink.active,
.MainNavLink:focus {
  color: #96d9ff !important;
  font-size: 3.3vh;
  font-weight: 500;
  text-decoration: underline !important;
}

.MainHeadingHover {
  /* text-decoration: none !important; */
  border-bottom: none !important;
}

.MainHeadingHover:hover {
  color: #96d9ff !important;
  font-size: 3.1vh;
  font-weight: 500;
  text-decoration: none !important;
}

.flexIcon img {
  height: 4vh;
  /* width: 41px; */
  margin-top: 7px;
  margin-right: 15px;
}

.flexIcon {
  display: inline-flex;
  margin: 1vh;
  /* max-height: 50px; */
  /* width: 20vw; */
}

/*********** myplanstoday section *****/

.plansTodaySection {
  position: sticky;
  /* margin-top: 5vh; */
  /* left: 18px; */
}

.myPlansTodayText {
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #96d9ff;
  min-width: 172px;
}

.plansTodayContainer {
  padding: 0px 5px;
  height: 33vh;
  /* width: 16vw; */
  min-width: 240px;
  max-width: 16vw;
  min-height: 33vh;
  border: 2px solid #96d9ff;
  background-color: #d4e9f0;
  border-radius: 1rem;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plansTodayBox {
  background-color: white;
  width: 93%;
  height: 93%;
  overflow-y: scroll;
  padding: 10px;
}

.planTodayBox_card_time {
  display: flex;
}

.planTodayBox_card_time p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.event_label_happy {
  background-color: rgba(255, 255, 0, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.event_label_markcolor_happy {
  background-color: rgba(255, 255, 0, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.event_label_sad {
  background-color: rgba(0, 0, 255, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.event_label_markcolor_sad {
  background-color: rgba(0, 0, 255, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.event_label_angry {
  background-color: rgba(255, 0, 0, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.event_label_markcolor_angry {
  background-color: rgba(255, 0, 0, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.event_label_fear {
  background-color: rgba(128, 0, 128, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.event_label_markcolor_fear {
  background-color: rgba(128, 0, 128, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.event_label_disgust {
  background-color: rgba(0, 128, 0, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.event_label_markcolor_disgust {
  background-color: rgba(0, 128, 0, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.event_label_title {
  margin-left: 10px;
  font-size: 15px;
  width: 70%;
  text-align: left;
}

.event_label {
  background-color: rgba(207, 179, 126, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0 3px 0;
  width: 100%;
}

.event_label_markcolor {
  background-color: rgba(207, 179, 126, 0.35);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.planTodayBox_card:nth-child(n + 1) .event_label {
  background-color: rgba(255, 99, 71, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0 3px 0;
  width: 100%;
}
.planTodayBox_card:nth-child(7n + 1) .event_label_markcolor {
  background-color: rgba(255, 99, 71, 0.7);
  /* background-color: rgba(255, 255, 0, 0.7); */
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.planTodayBox_card:nth-child(7n + 2) .event_label {
  background-color: rgba(255, 165, 0, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0 3px 0;
  width: 100%;
}
.planTodayBox_card:nth-child(7n + 2) .event_label_markcolor {
  background-color: rgba(255, 165, 0, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.planTodayBox_card:nth-child(7n + 3) .event_label {
  background-color: rgba(255, 255, 0, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0 3px 0;
  width: 100%;
}
.planTodayBox_card:nth-child(7n + 3) .event_label_markcolor {
  background-color: rgba(255, 255, 0, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.planTodayBox_card:nth-child(7n + 4) .event_label {
  background-color: rgba(124, 252, 0, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0 3px 0;
  width: 100%;
}
.planTodayBox_card:nth-child(7n + 4) .event_label_markcolor {
  background-color: rgba(124, 252, 0, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.planTodayBox_card:nth-child(7n + 5) .event_label {
  background-color: rgba(0, 255, 252, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0 3px 0;
  width: 100%;
}
.planTodayBox_card:nth-child(7n + 5) .event_label_markcolor {
  background-color: rgba(0, 255, 252, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.planTodayBox_card:nth-child(7n + 6) .event_label {
  background-color: rgba(30, 144, 255, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0 3px 0;
  width: 100%;
}
.planTodayBox_card:nth-child(7n + 6) .event_label_markcolor {
  background-color: rgba(30, 144, 255, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.planTodayBox_card:nth-child(7n + 7) .event_label {
  background-color: rgba(186, 85, 211, 0.35);
  display: flex;
  align-items: center;
  height: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0 3px 0;
  width: 100%;
}
.planTodayBox_card:nth-child(7n + 7) .event_label_markcolor {
  background-color: rgba(186, 85, 211, 0.7);
  /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.25); */
  content: "";
  height: 100%;
  left: 10px;
  position: inherit;
  width: 10px;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

footer {
  background-color: #96d9ff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flexIconProfile {
  display: inline-block;
  margin: 10px 20px 10px;
  max-height: 60px;
  text-align: center;
}

.logoutButton {
  background-color: red;
  border-radius: 1rem;
  width: 5vw;
  height: 5vh;
  color: white;
}

.event_label_title p::-webkit-scrollbar {
  display: none;
}

.MuiTextField-root.start-field,
.MuiTextField-root.end-field {
  left: 5px;
}
