.default-avatar {
  width: 200px;
  height: 200px;
  background-image: url("../img/profile_avatar.png");
  background-size: contain;
}
.selected-avatar {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
.profile-container input {
  display: block;
  margin-top: 10px;
}
.profile-container textarea {
  margin-top: 10px;
  resize: none !important;
}
textarea {
  resize: none !important;
}
.profile-container {
  margin-top: 100px;
}

.error-message {
  color: red;
}
.error-input {
  border-color: red;
}
