/* details section */
input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

textarea {
  resize: none;
}

.display-none {
  display: none;
}

.schedule_detail > div {
  position: absolute;
}
