.whatsOnYourMindContainer {
background-color: white;
height: 12vh;
/* padding: 0px;
margin: 0px 0px;

border-bottom: 2px solid white;
border-radius: 5px; */
border-left: 20px solid grey;
border-right: 20px solid grey;

position: sticky;
top:0;

}

.whatsOnYourMindButton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #96D9FF !important;
    padding: 12px 50px !important;
    border: none !important;
    border-radius: 20px !important;
    box-shadow: none !important;
}
/* *************model Overall*********** */
.modal-content {
    background-color: #C4C4C4 !important;
    border-radius: 2rem !important;

}
.modal-header {
    border-bottom: 0px !important;
}

.modal-footer {
    border-top: 1px solid black !important;
}

/***************** post modal css ****************/
.postModalHeader{
    text-align: center;
    justify-content: center;
    
}
.postModalComment{
    border: 1px solid black;
    margin: 10px;
    width: 29vw;
    height: 20vh;
    background-color: #C4C4C4;
}
.postModalTagsContainer{
display: flex;
}
.tagsFont{
    font-weight: 400;
    font-size: 2.3vh;
    color: black;
}
.postModalTags{
    border: 1px solid black;
    margin: 5px;
    background-color: #C4C4C4;
    width: 27vw;
}

.postEmojiDropdown{
    background-color: none !important;
    color: none !important;
}

/***************** mobile css ****************/
